<ion-tabs class="tabs-default">
  <ion-fab vertical="bottom" horizontal="center" translucent="true">
    <ion-fab-button (click)="cart()" color="primary">
      <ion-icon name="cart-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-tab-bar slot="bottom" color="light">
    <ion-tab-button tab="home" color="primary">
      <ion-icon name="compass-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="list" class="notifs">
      <ion-icon name="list-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>