ion-card {
  margin: 3px;
  border-radius: 24px;
  box-shadow: 0px 8px 15px rgb(0 0 0 / 28%);
}

ion-card-content {
  position: relative;
  padding-top: 0px;
  padding-bottom: 2px;
  padding-inline-start: 16px;
  padding-inline-end: 16px;
}

.cont-selected-button {
  position: absolute;
  bottom: 0px;
  right: 0px;
  background: var(--ion-color-primary);
  border-top-left-radius: 24px;
  width: 15vw;
  height: 11.8vw;
}

.icon-plus {
  font-size: 1.3em;
}

.brand {
  font-family: "Poppins", sans-serif;
  color: #bdbcbc;
  font-weight: 500;
  font-size: 2.7vw;
  text-transform: uppercase;
  margin: 0px;
}

.product-name {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  color: #000000;
  font-weight: 500;
  font-size: 2.89vw;
  margin: 0px;
}

.product-price {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  color: var(--ion-color-secondary);
  font-weight: 700;
  font-size: 3.74vw;
  margin-top: 4px;
  margin-bottom: 0px;
}

.product-price::first-letter {
  padding-right: 2px;
}

.icon-favorite {
  font-size: 1.6em;
  margin-top: 11px;
}

.is-favorite {
  color: #ff1f2c;
}

.is-not-favorite {
  color: #bdbcbc;
}

.rating {
  font-size: 0.75rem;
  margin-right: 1px;
  color: #ffd056;
}

.rating-slider {
  font-size: 0.9em;
  margin-right: 1px;
  color: #ffd056;
}

ion-button {
  height: 2.5em;
}

.cont-selected {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.cont-one {
  height: 50%;
  background: var(--ion-color-medium-contrast);
}

.cont-two {
  height: 50%;
  background: var(--ion-color-primary);
  text-align: center;
}

.add-favorites {
  background: var(--ion-color-medium-contrast);
  color: var(--ion-color-primary);
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 3.2vw;
  margin-top: 2px;
}

.add-cart {
  color: var(--ion-color-light);
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 3.2vw;
  margin-top: 0px;
}

.ico-add-cart {
  font-size: 6vw;
  padding-top: 0.5em;
}

.icon-hide {
  font-size: 1.5em;
  margin-top: 11px;
  background: #f0f0f0;
  border-radius: 50%;
}

.product-image {
  width: 65px;
  height: 65px;
  margin-right: 12px;
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  background-position: center center;
  border-radius: 5px;
  position: relative;
  z-index: 2;
  margin: 0 auto;
  transform: matrix(0.91, 0.43, -0.42, 0.91, 0, 0);

  img {
    display: block;
    margin: auto;
    width: 80px;
  }
}

@keyframes revealImage {
  100% {
    opacity: 1;
  }
}

.cont-skeleton-image {
  width: 100%;
  height: 85px;
  margin: 0 auto;
}

.label-seleton {
  margin-bottom: 0px;
}

ion-grid {
  margin-top: 1em;
  margin-bottom: 1.5em;
}

.cont-image {
  padding: 2%;
}

.cont-triangle {
  position: absolute;
  z-index: 1;
  top: 16%;
  left: 10%;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.triangle {
  position: relative;
  background-color: #fcdcc0;
  opacity: 0.3;
  text-align: left;
}
.triangle:before,
.triangle:after {
  content: "";
  position: absolute;
  background-color: inherit;
}
.triangle,
.triangle:before,
.triangle:after {
  width: 2.7rem;
  height: 2.7rem;
  margin: 0 auto;
  border-top-right-radius: 46%;
}

.triangle {
  transform: rotate(42deg) skewX(-30deg) scale(1, 0.866);
}
.triangle:before {
  transform: rotate(-135deg) skewX(-45deg) scale(1.414, 0.707)
    translate(0, -50%);
}
.triangle:after {
  transform: rotate(135deg) skewY(-45deg) scale(0.707, 1.414) translate(50%);
}

@media (min-width: 800px) {
  ion-grid {
    padding: 1.5em;
  }

  .product-image {
    min-width: 150px;
    max-width: 150px;
    height: 150px;

    img {
      width: 150px;
    }
  }

  .cont-skeleton-image {
    height: 150px;
  }

  .product-name {
    font-size: 1.2em;
  }

  .brand {
    font-size: 1em;
  }

  .product-price {
    font-size: 1.2em;
  }

  .rating {
    font-size: 1.2em;
  }

  .icon-plus {
    font-size: 2.5em;
  }

  ion-button {
    height: 3.5em;
  }

  .price-slider-product {
    font-size: 1.2em;
  }

  .rating-slider {
    font-size: 1.2em;
    margin-right: 2px;
  }

  .add-cart {
    font-size: 1.2em;
  }

  .add-favorites {
    font-size: 1.2em;
  }

  .icon-favorite {
    font-size: 2em;
  }
}
