
ion-title {
    text-align: center ;
    padding-left: 0px;
}

ion-grid{
    padding: 6px;
    margin-top: 1em;
    margin-bottom: 10%;
  }
  
  ion-col {
    padding: 5px 8px;
  }

  ion-fab-button ion-icon{
    font-size: 2.5rem;
  }