<ion-content color="light">
  <ion-grid>
    <ion-row class="ion-text-center">
        <ion-col size="12">
         <img src="./assets/images/logo.png" alt="" class="img-logo">
        </ion-col>
        <ion-col size="12">
          <img src="./assets/images/welcome.png" alt="" class="img-welcome">
         </ion-col>
      </ion-row>
  <ion-row class="ion-text-center">
    <ion-col>
      <h1>Encuentra los <br> mejores audífonos</h1>
      <p>Busca y adquiere los mejores audífonos de las mejores marcas al alcance de tu móvil.</p>
    </ion-col>
  </ion-row>
  <ion-row class="ion-text-center">
    <ion-col class="ion-padding">
      <ion-button color = "primary" expand="full" shape="round" class="mb-but" (click)="login()">
        Comenzar
      </ion-button> <br>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>