ion-card {
  box-shadow: 0px 2px 5px 3px rgb(0 0 0 / 15%);
  border-radius: 15px;
  padding: 0 10px;
  margin: 0px 16px 22px 16px;
}

ion-card-content {
  position: relative;
  padding: 4px 0px 0px 0px;
}

.slot-end {
  margin-left: unset;
  margin-inline-start: 1px;
}

.margin-cart {
  margin: 5px 0px 5px;
}

.product-name {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  color: var(--ion-color-secondary);
  font-weight: 500;
  font-size: 0.8em;
}

.product-color {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  color: #bdbcbc;
  font-weight: 500;
  font-size: 0.85em;
}

ion-col:first-child {
  padding: 0px;
  text-align: center;
}

.product-price {
  float: right;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  color: var(--ion-color-secondary);
  font-weight: 700;
  font-size: 1em;
}

.cont-img {
  width: 60px;
  height: 60px;
  margin-left: 14px;
  border-radius: 10px;
}

.product-image {
  min-width: 55px;
  max-width: 55px;
  height: 55px;
  margin-right: 12px;
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  border-radius: 5px;
  animation: revealImage 2.5s forwards;
  transition: all 2.5s ease;
  margin: 0 auto;
  transform: matrix(0.91, 0.43, -0.42, 0.91, 0, 0);

  img {
    display: block;
    margin: auto;
    width: 60px;
  }
}

@media (min-width: 800px) {
  .product-image {
    min-width: 120px;
    max-width: 120px;
    height: 120px;

    img {
      width: 120px;
    }
  }

  .product-name,
  .product-color,
  .product-price {
    font-size: 1.2em;
  }

  ion-col {
    padding-top: 20px;
  }

  ion-col ion-button {
    font-size: 1.4em;
  }

  .pos-info-payment,
  .info-payment,
  .info-concept,
  .info-cost {
    font-size: 1.1em;
  }
}
