ion-badge{
  position: absolute;
  top: 0;
  right: -1px;
  width: auto;
  font-size: 2.67vw;
  font-family: "Raleway";
  font-weight: 700;
  --padding-end: 5.2px;
  --padding-start: 5.5px;
  --padding-top: 3px;
  --padding-bottom: 4px;
}

.md ion-badge{
  top: -2px;
  right: -2px;
  --padding-end: 4px;
  --padding-start: 5px;
  --padding-top: 1px;
  --padding-bottom: 4px;
}
