.sup-total-cart{
    position: absolute;
    background: #14E80F;
    color: #fff;
    z-index: 2;
    padding: 7px 1px 6px 1px;
    border-radius: 50%;
    width: 14px;
    height: 15px;
    text-align: center;
    font-size: 11px;
    right: -4px;
    top: 5%;
  }

  .long-number-products{
    width: 16px;
  }